#minichat{
	margin: auto;
	width: 280px;
	height: 400px;

	border: 1px solid green;

	position: relative;

	font-family: 'Varela Round', sans-serif;
}

/* Interlocuteur */
#allocutaire{
	border: 1px solid black;
	color: red;
}

#allocutaire p{
	text-align: center;
	margin: auto;
}

/*
 *		MESSAGES
 */

.message{
	color: red;
}

/* Message envoyé par l'interlocuteur */
#friendMessage{
	margin-top: 5px;
	border: 1px solid green;
}

#myMessage{
	margin-top: 5px;
	border: 1px solid red;
	position: absolute;
	right: 0px;
}


/*
 * 	formulaire d'envoi de message
 */
#formulaire{
	border: 1px solid purple;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

#formulaire form{
	position: relative;
}

#formulaire form input{
	font-family: 'Varela Round', sans-serif;
	font-size: 1em;
	width: 75%;
	padding: 10px;
	height: 30px;
}

#formulaire form button{
	position: absolute;
	bottom: 10px;
	right: 0px;
	height: 30px;
}

#formulaire form button i{
	font-size: 2.5em;
}